.maincourse{
    display:flex;
}
.courseh1{
    text-align:center;
    
}
 .piccourse{
    flex: 0 0 45%;
} 
.piccourse img {    
    margin-left: 15%;
    margin-top:2%;   
    width: 85%; 
    height: 30%; 
    background-attachment: fixed;
    
}
.desc {
    flex: 0 0 50%; /* Flex item takes up 45% of the available space */
   padding:0 2%; /* Adds some padding to the description */
    
}
.desc p {
    text-align: justify; /* Justify the text */
    font-size: 18px; /* Set font size */
    color: black; /* Set text color */    
    margin:2%;
    border-radius: 15px 50px;
    background: #80c81c;     
    width: 100%;    
    padding:5%;
    border:2px solid black;
    
}

.course-ul-h2{
    margin-left:3vh;
 font-size:20px;
}
.desc ul li{
    display:inline-block;
    text-align:center;
    padding:2%;
    margin:1%;
    border-radius:2em;
    width:48%;
    background-color:#66b2b2;
}
#disa1,#disa2 {
    display: inline-block;    
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#disa1{
    margin-top:20px;
    margin-left:32%;
    margin-bottom:5%;
}
#disa2{
    margin-left:22%;
    margin-bottom:5%;
}

#disa1:hover {
background-color:#48d232;
color:black;
}
#disa2:hover{
    background-color:#48d232;
    color:black;
}
.desc ul li:hover{
    background-color: #006666;
    color:white;
    cursor: pointer;
}


